* {
  box-sizing: border-box;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

body {
  /*padding-left: 12px;
  padding-right: 12px;*/
  text-align: center;
}

p,
span {
  font-size: 18px;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*#header,
#workExperience {
  text-align: center;
}*/

.bold {
  font-weight: bold;
}

.biopic {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin: 0 auto 16px auto;
}

.contact-info {
  display: none;
}

.contact-icon {
  font-size: 30px;
}

.contact-location {
  width: 100%;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-header,
.uppercase {
  text-transform: uppercase;
}

.section-header {
  margin-bottom: 48px;
}

.header-general {
  padding-top: 150px;
  padding-bottom: 64px;
}

.header-about {
  /*padding: 64px 12px;*/
  padding: 48px 12px 80px 12px;
}

/*.image-container {
  margin-top
}*/

.greeting {
  font-size: 24px;
  margin-bottom: 16px;
}

.list-majors {
  margin-top: 6px;
  margin-bottom: 16px;
}
.major {
  display: inline-block;
  margin-right: 8px;
}

.online-class-header {
  margin-bottom: 18px;
}
.project-image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.work-entry,
.project-entry,
.education-entry {
  margin-bottom: 48px;
}

.work-title,
.project-title,
.online-course-title,
.school-name,
.image-container {
  margin-top: 12px;
  margin-bottom: 8px;
}

.work-description,
.project-description {
  margin-top: 16px;
  margin-bottom: 12px;
}

.date-text {
  font-size: 14px;
}

#name {
  /*margin: 150px auto 12px auto;*/
  margin-bottom: 12px;
}

#location {
  margin-top: 16px;
  margin-bottom: 200px;
}

#topContacts {
  margin-bottom: 24px;
}

#skills-h3 {
  margin-top: 64px;
  margin-bottom: 8px;
}

#skills {
  line-height: 2em;
}

#workExperience,
#projects,
#education {
  padding-top: 64px;
  padding-bottom: 48px;
  padding: 64px 12px 48px 12px;
}

#mapDiv {
  padding: 64px 0 48px 0;
}

#map {
  height: 220px;
}

#lets-connect {
  padding-top: 24px;
  padding-bottom: 36px;
}

#header-contacts {
  margin-bottom: 12px;
}
